


<div class="example3">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="text-center" style="color:blanchedalmond">Welcome To Carpod</h1>
        </div>
        <div id="navbar3" class="navbar-collapse collapse">
        
        </div>
      </div>
    </nav>
  </div>
  