<section>
  <div class="container">
<div class="table-rep-plugin">
  <div class="button-list pull-right mb-15">
<ul class="float-btn float-btn-left">
<li> <a class="btn btn-info waves-effect waves-light"   routerLink="../add-carbod-view/" class="active"> Add detail</a> 
</li>
</ul>
</div>
</div>
   
<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="example">
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th >Email</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{person.email}} </td>
        <td> 
         
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="../view-carbod-view/{{person.id}}">View</a></li>
                    <li> <a class="dropdown-item" (click)="edit_pass(person)"  href="#">Edit</a></li>
                    <li> <a class="dropdown-item" (click)="delete_record(person.id);" href="#">Delete</a></li>
                  </ul>
                </div>
          <!-- <a class="btn btn-info waves-effect waves-light"  routerLink="../view-carbod-view/{{person.id}}" class="active"><i class="fa fa-eye"></i>view</a>
          <a class="btn btn-info waves-effect waves-light" (click)="edit_pass(person)"   class="active"> <i class="fa fa-edit"></i>Edit</a>
          <a class="btn btn-info waves-effect waves-light" (click)="delete_record(person.id);"  class="active"><i class="fa fa-trash"></i>Delete</a> -->
        </td>
        </tr>
      </tbody>
      </table>
</div>
</div>
<div class="modal" *ngIf="modeldisplay2" [style.background]="applyback?'#21212185':'red'" id="Modalupdate2" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" style="display:block;">
<div class="modal-dialog" role="document">
<div class="modal-content" style="background-color:#fff;">
<div class="modal-header">
<h4 class="modal-title">Delete record</h4>
<button type="button" class="close" (click)="hidemodel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
     <div class="modal-body">
       <p> Are You Sure ?</p>
 </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default bn-sm" data-dismiss="modal" (click)="hidemodel()">Close</button>
              <button type="submit" class="btn btn-success" (click)="delete_data_byid(delete_id)">Delete</button>
          </div>

</div>
</div>
</div>
</section>



