

<ul class="nav">
  <li class="nav-item" *ngFor="let menu of menu_list; let i = index">
    <a href="#" class="nav-link" *ngIf="menu.type =='LINK'" routerLink="dashboard">
      <span class="menu-title">{{menu.name}}</span>
    </a>

              <a class="nav-link" data-toggle="collapse" href="#ui-basic-{{i}}" aria-expanded="false" aria-controls="ui-basic" *ngIf="menu.type =='LABEL' ">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">{{menu.name}}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic-{{i}}" >
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item" *ngFor="let side of menu.nodes">
                    <a class="nav-link" href="#"  [routerLink]="'list/'+side.destination">{{side.name}}</a>
                  </li>
                </ul>
              </div>
  </li>
</ul>
