<section>
    <div class="container">
 
     
<div class="table-responsive">
 <table class="table" colspan="6">
<thead>
<tr style="border-bottom:1pt solid #D0D0D0;">
                                       
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th >Email</th>

 </tr>
</thead>  
 <tbody    style="border-bottom:1pt solid #D0D0D0;" >
 <tr >
    <td>{{ id }}</td>
    <td>{{ fname }}</td>
    <td>{{ lname }}</td>
    <td >{{ email}} </td>

 </tr>
 </tbody>
</table>
 </div>
</div>

</section>
  
  
